.editButton button, .deleteButton button {
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
	
}
.editButton button i, .deleteButton button i {
	transition: all 0.5s;
}
.editButton button i {
	color: orange;
}
.deleteButton button i {
	color: red;
}
.editButton button:hover i, .deleteButton button:hover i {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.onlyMobile i {
	display: none;
}
@media all and (max-width: 767px) {
	.onlyMobile i {
		display: inline-block;
		font-size: 20pt;
		margin: 5px auto;
		color: #007bff;
	}
}